.avatar {
  border-radius: 50%;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; /*Div containing the all links divs is 60% of screen*/
  margin: auto;
  margin-top: 10px;
}

.links div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100px;
  width: 100%; /*Divs inside of Links div take up 100% width*/
  margin: 15px;
  border-radius: 10px;
  
}

.links h1 {
  margin-right: auto;
}

.links div:hover {
  filter: brightness(110%); /*brightens image 10% when hovered over.*/
  transform: scale(1.05);
  transition: transform 250ms;
}
